attrs==17.4.0
configparser==3.5.0
coverage==4.5.4
enum34==1.1.6
flake8==3.7.9
funcsigs==1.0.2
mccabe==0.6.1
mock==2.0.0
pbr==3.1.1
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==4.6.7
pytest-cov==2.8.1
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest-mock==1.11.2
six==1.11.0
