version: 2.1
executors:
  python:
    parameters:
      image:
        type: string
    docker:
      - image: << parameters.image >>
  linux:
    parameters:
      image:
        type: string
    docker:
      - image: << parameters.image >>
commands:
  runtest:
    steps:
      - checkout
      - run:
          name: Install Python dependencies in a virtual env
          command: |
            sudo pip install --upgrade pip
            pip install virtualenv
            virtualenv -p $(which python) ~/efs-utils-virtualenv
            source ~/efs-utils-virtualenv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Run all tests
          command: |
            source ~/efs-utils-virtualenv/bin/activate
            make test
  build-deb:
    steps:
      - checkout
      - run:
          name: Repo update
          command: |
            apt-get update
      - run:
          name: Install dependencies
          command: |
            apt-get -y install binutils
      - run:
          name: Build DEB
          command: |
            ./build-deb.sh
      - run:
          name: Install package
          command: |
            apt-get -y install ./build/amazon-efs-utils*deb
      - run:
          name: Check installed successfully
          command: |
            mount.efs --version
  build-rpm:
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            yum -y install rpm-build make
      - run:
          name: Build RPM
          command: |
            make rpm
      - run:
          name: Install package
          command: |
            yum -y install build/amazon-efs-utils*rpm
      - run:
          name: Check installed successfully
          command: |
            mount.efs --version
      - run:
          name: Check changelog
          command: |
            rpm -q --changelog amazon-efs-utils
jobs:
  test:
    parameters:
      image:
        type: string
    executor:
      name: python
      image: << parameters.image >>
    steps:
      - runtest
  build-deb-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-deb
  build-rpm-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-rpm
workflows:
  workflow:
    jobs:
      - test:
          name: python38
          image: circleci/python:3.8.1
      - test:
          name: python37
          image: circleci/python:3.7.3
      - test:
          name: python36
          image: circleci/python:3.6.9
      - test:
          name: python35
          image: circleci/python:3.5.9
      - test:
          name: python34
          image: circleci/python:3.4.9
      - test:
          name: python27
          image: circleci/python:2.7.13
      - build-deb-package:
          name: ubuntu16
          image: ubuntu:16.04
      - build-deb-package:
          name: ubuntu18
          image: ubuntu:18.04
      - build-deb-package:
          name: debian9
          image: debian:9
      - build-rpm-package:
          name: centos7
          image: centos:centos7
      - build-rpm-package:
          name: centos8
          image: centos:centos8
      - build-rpm-package:
          name: amazon-linux-2
          image: amazonlinux:2
      - build-rpm-package:
          name: amazon-linux
          image: amazonlinux:1