version: 2.1
executors:
  python:
    parameters:
      image:
        type: string
    docker:
      - image: << parameters.image >>
  linux:
    parameters:
      image:
        type: string
    docker:
      - image: << parameters.image >>
commands:
  runtest:
    steps:
      - checkout
      - run:
          name: Install Python dependencies in a virtual env
          command: |
            pip install --upgrade pip
            pip install virtualenv
            virtualenv -p $(which python) ~/efs-utils-virtualenv
            source ~/efs-utils-virtualenv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Run all tests
          command: |
            source ~/efs-utils-virtualenv/bin/activate
            make test
      - store_artifacts:
          path: build
  build-deb:
    steps:
      - run:
          name: Repo update
          command: |
            apt-get update
      - run:
          name: Install dependencies
          command: |
            apt-get -y install binutils git
      - run:
          name: Add local build repo as safe git directory
          command: |
            git config --global --add safe.directory /tmp/_circleci_local_build_repo
      - checkout
      - run:
          name: Build DEB
          command: |
            ./build-deb.sh
      - run:
          name: Install package
          command: |
            DEBIAN_FRONTEND=noninteractive apt-get -y install ./build/amazon-efs-utils*deb
      - run:
          name: Check installed successfully
          command: |
            mount.efs --version
  build-rpm:
    steps:
      - run:
          name: Install dependencies
          command: |
            yum -y install rpm-build make systemd git
      - run:
          name: Add local build repo as safe git directory
          command: |
            git config --global --add safe.directory /tmp/_circleci_local_build_repo
      - checkout
      - run:
          name: Build RPM
          command: |
            make rpm
      - run:
          name: Install package
          command: |
            yum -y install build/amazon-efs-utils*rpm
      - run:
          name: Check installed successfully
          command: |
            mount.efs --version
      - run:
          name: Check changelog
          command: |
            rpm -q --changelog amazon-efs-utils
  build-suse-rpm:
    steps:
      - checkout
      - run:
          name: Refresh source
          command: |
            zypper refresh
      - run:
          name: Install dependencies
          command: |
            zypper install -y --force-resolution rpm-build
            zypper install -y make systemd
      - run:
          name: Build RPM
          command: |
            make rpm
      - run:
          name: Install package
          command: |
            zypper --no-gpg-checks install -y build/amazon-efs-utils*rpm
      - run:
          name: Check installed successfully
          command: |
            mount.efs --version
      - run:
          name: Check changelog
          command: |
            rpm -q --changelog amazon-efs-utils
  build-centos-repo:
    steps:
    - run:
        name: change the mirrors to vault.centos.org
        command: |
          sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
          sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
  build-debian-eol-repo:
    steps:
      - run:
          name: change repo url to archive.debian.org and remove updates repo for EOL versions
          command: |
            sed -i 's/deb.debian.org/archive.debian.org/g' /etc/apt/sources.list
            sed -i 's/security.debian.org/archive.debian.org/g' /etc/apt/sources.list
            sed -i '/stretch-updates/d' /etc/apt/sources.list
jobs:
  test:
    parameters:
      image:
        type: string
    executor:
      name: python
      image: << parameters.image >>
    steps:
      - runtest
  build-deb-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-deb
  build-rpm-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-rpm
  build-suse-rpm-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-suse-rpm
  build-centos-rpm-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-centos-repo
      - build-rpm
  build-debian-eol-rpm-package:
    parameters:
      image:
        type: string
    executor:
      name: linux
      image: << parameters.image >>
    steps:
      - build-debian-eol-repo
      - build-deb
workflows:
  workflow:
    jobs:
      - test:
          name: python3_9
          image: python:3.9.13
      - test:
          name: python3_8
          image: python:3.8.13
      - test:
          name: python3_7
          image: python:3.7.13
      - test:
          name: python3_6
          image: python:3.6.15
      - test:
          name: python3_5
          image: python:3.5.10
      - test:
          name: python3_4
          image: python:3.4.10
      - build-deb-package:
          name: ubuntu-latest
          image: ubuntu:latest
      - build-deb-package:
          name: ubuntu16
          image: ubuntu:16.04
      - build-deb-package:
          name: ubuntu18
          image: ubuntu:18.04
      - build-deb-package:
          name: ubuntu20
          image: ubuntu:20.04
      - build-deb-package:
          name: ubuntu22
          image: ubuntu:22.04
      - build-debian-eol-rpm-package:
          name: debian9
          image: debian:stretch
      - build-deb-package:
          name: debian10
          image: debian:buster
      - build-deb-package:
          name: debian11
          image: debian:bullseye
      - build-centos-rpm-package:
          name: centos-latest
          image: centos:latest
      - build-rpm-package:
          name: centos7
          image: centos:centos7
      - build-centos-rpm-package:
          name: centos8
          image: centos:centos8
      - build-rpm-package:
          name: rocky8
          image: rockylinux/rockylinux:8
      - build-rpm-package:
          name: rocky9
          image: rockylinux/rockylinux:9
      - build-rpm-package:
          name: amazon-linux-latest
          image: amazonlinux:latest
      - build-rpm-package:
          name: amazon-linux-2
          image: amazonlinux:2
      - build-rpm-package:
          name: amazon-linux
          image: amazonlinux:1
      - build-rpm-package:
          name: fedora-latest
          image: fedora:latest
      - build-rpm-package:
          name: fedora28
          image: fedora:28
      - build-rpm-package:
          name: fedora29
          image: fedora:29
      - build-rpm-package:
          name: fedora30
          image: fedora:30
      - build-rpm-package:
          name: fedora31
          image: fedora:31
      - build-rpm-package:
          name: fedora32
          image: fedora:32
      - build-rpm-package:
          name: fedora33
          image: fedora:33
      - build-rpm-package:
          name: fedora34
          image: fedora:34
      - build-rpm-package:
          name: fedora35
          image: fedora:35
      - build-rpm-package:
          name: fedora36
          image: fedora:36
      - build-suse-rpm-package:
          name: opensuse-leap15.1
          image: opensuse/leap:15.1
      - build-suse-rpm-package:
          name: opensuse-leap15.2
          image: opensuse/leap:15.2
      - build-suse-rpm-package:
          name: opensuse-leap15.3
          image: opensuse/leap:15.3
      - build-suse-rpm-package:
          name: opensuse-leap15.4
          image: opensuse/leap:15.4
      - build-suse-rpm-package:
          name: opensuse-leap-latest
          image: opensuse/leap:latest
